.detail{
    display:flex;
    flex-direction: row;
    padding-top: 2%;
    padding-left: 2%;
}

.titulo-img{
    display:flex;
    flex-direction: column;
}
.img-detail{
padding-left:10%;
height:15rem;
width:80%;
}
.info-detail{
    display:flex;
    flex-direction: column;
    margin-left: -3%; 
    margin-right: auto;
    margin-top: 3%;
    padding:3rem;
}

.info-detail-titulo, 
.info-detail-calificacion,
.info-detail-ano,
.info-detail-sinopsis,
.info-detail-actores{
    margin-top: 1rem;
    
}

.info-titulo, 
.info-calificacion,
.info-ano,
.info-sinopsis,
.info-actores{
    font-weight: bold;
    
}