body {
  padding-top: var(--navbar-height);
}
.header {
  height: 80vh;
  background: url('../img/header-bg.jpg') top center no-repeat;
  background-size: cover;
 
}

h1{
  position: relative;
  top: 15%;
  right: 5%;
  color:black;
  background-color: transparent;
  margin: 0;
  padding: 1rem;
  text-align: right;
  font-size: 2rem;
 

}

